{
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "printWidth": 100,
  "bracketSpacing": true,
  "declaration-block-trailing-semicolon": "always",
  "importOrder": [
    "^@core/(.*)$",
    "^@mui/(.*)$",
    "^@api/(.*)$",
    "^@models/(.*)$",
    "^@hooks/(.*)$",
    "^@assets/(.*)$",
    "^@pages/(.*)$",
    "^@utils/(.*)$",
    "^@templates/(.*)$",
    "^@atoms/(.*)$",
    "^@molecules/(.*)$",
    "^@organisms/(.*)$",
    "^@*/(.*)$",
    "^@/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
